# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.
# Code owners are not automatically requested to review draft pull requests.
#
# To use a CODEOWNERS file, create a new file called CODEOWNERS
# in the root, docs/, or .github/ directory of the repository,
# in the branch where you'd like to add the code owners.
# Each CODEOWNERS file assigns the code owners for a single branch in the repository.
# Thus, you can assign different code owners for different branches.
#
# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Frontend
/intel_extension_for_pytorch @gujinghui @zejun-chen @jgong5 @zhuyuhua-v

# IPEX GPU code base
/csrc/gpu @gujinghui @fengyuan14 @majing921201

# IPEX GPU runtime
/csrc/gpu/runtime @gujinghui @fengyuan14 @guangyey

# IPEX GPU oneDNN
/csrc/gpu/oneDNN @fengyuan14 @ZhiweiYan-96

# IPEX quantization
intel_extension_for_pytorch/quantization @xiaolil1
csrc/gpu/aten/operators/fp8 @xiaolil1
csrc/gpu/aten/quantized @xiaolil1

# IPEX inductor
intel_extension_for_pytorch/fx @EikanWang
intel_extension_for_pytorch/_dynamo @EikanWang
intel_extension_for_pytorch/_inductor @EikanWang

# IPEX DS kernels
ecological_libs/deepspeed @rogerxfeng8

# XeTLA kernels
csrc/gpu/aten/operators/xetla @rogerxfeng8 @airMeng

# Documentation and tutorials
/docs @tye1

# Docker files
/docker @tye1

# Build scripts
/cmake @gujinghui @zejun-chen @xuhancn

# Tools and scripts
/scripts @gujinghui @leizhenyuan

# IPEX CPU code base
/csrc/cpu @xuhancn @zejun-chen
/cmake/cpu @xuhancn @zejun-chen 
/intel_extension_for_pytorch/cpu @xuhancn @zejun-chen
/intel_extension_for_pytorch/csrc/cpu @xuhancn @zejun-chen
/tests/cpu @xuhancn @zejun-chen
/examples/cpu @xuhancn @zejun-chen
