[submodule "third_party/oneDNN"]
	path = third_party/oneDNN
	url = https://github.com/oneapi-src/oneDNN.git
	branch = rls-v2.7
[submodule "third_party/oneDPL"]
	path = third_party/oneDPL
	url = https://github.com/oneapi-src/oneDPL
