[submodule "third_party/pytorch"]
	path = third_party/pytorch
	url = ssh://git@gitlab.devtools.intel.com:29418/pytorch-ats/ats_integration.git
[submodule "third_party/dnnl"]
	path = third_party/dnnl
	url = ssh://git@gitlab.devtools.intel.com:29418/ipl/dl/mkl-dnn.git
