py-cpuinfo
accelerate
unzip
datasets
sentencepiece
diffusers
mpi4py
protobuf==3.20.3
lm_eval==0.4.2
huggingface-hub==0.25.2
py-cpuinfo
bitsandbytes
transformers==4.44.2
transformers_stream_generator
einops
hjson
msgpack
