py-cpuinfo
accelerate
unzip
datasets
sentencepiece
diffusers
protobuf>=4.25.8
lm_eval==0.4.2
huggingface-hub==0.30.0
py-cpuinfo
bitsandbytes
transformers
transformers_stream_generator
einops
hjson
msgpack
