py-cpuinfo
accelerate
unzip
datasets
sentencepiece
diffusers
protobuf==3.20.3
lm_eval==0.4.2
huggingface-hub==0.30.0
py-cpuinfo
bitsandbytes
transformers==4.51.3
transformers_stream_generator
einops
hjson
msgpack
