/* make the page 1000px */
.wy-nav-content {
   max-width: 1200px;
}

/* code block highlight color in rtd changed to lime green, no no no */

.rst-content tt.literal, .rst-content code.literal, .highlight {
   background: #f0f0f0;
}
.rst-content tt.literal, .rst-content code.literal {
    color: #000000;
}
/* set color of version navigator to yellow */
div.version a {
    color: hsla(0,0%,100%,.3);
}
div.version p {
    color: #FFFF00;
}
