/* make the page 1200px */
.wy-nav-content {
  max-width: 1200px;
}


.menu {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: auto;
  padding: 10px 24px 24px 24px;
}

.menu-element {
  flex: 1 1 48%;
  background-color: #F3F4F7;
  color: black;
  text-align: center;
  margin: 2px;
  padding: 10px 24px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .menu-element {
    width: 100%;
  }
}

.menu-element:hover {
  background-color: #0070C0;
  color: white;
}

.menu-element.selected {
  background-color: #0070C0;
  color: white;
}



.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: auto;
  padding: 0px 2px;
}

.row-element-1 {
  flex: 1 1 20%;
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.row-element-2 {
  flex: 1 1 80%;
  margin-top: auto;
  margin-bottom: auto;
}

.mobile-headings {
  flex: 1 1 auto;
  color: black;
  text-align: left;
  margin: 2px;
  padding: 10px 24px;
  display: none;
}

.headings-element {
  text-align: left;
  margin: 2px;
  padding: 10px 24px;
}

.values-element {
  background-color: #F3F4F7;
  color: black;
  text-align: left;
  margin: 2px;
  padding: 10px 24px;
  cursor: pointer;
}

.block-1 {
  flex: 1 1 100%;
}

.block-2 {
  flex: 1 1 49%;
}

.block-3 {
  flex: 1 1 32%;
}

.block-4 {
  flex: 1 1 24%;
}

.block-5 {
  flex: 1 1 19%;
}

@media screen and (max-width: 1050px) {
  .row-element-1 {
    display: none;
  }

  .row-element-2 {
    flex: 1 1 100%;
  }

  .mobile-headings {
    display: block;
  }

  .block-2,.block-3,.block-4,.block-5 {
    flex: 1 1 100%;
  }
}

.values-element:hover {
  background-color: #0070C0;
  color: white;
}

.values-element.selected {
  background-color: #0070C0;
  color: white;
}

#install-instructions {
  padding-top: 50px;
}

/* Footer */
a#wap_dns {
   display: none;
}

a#wap_nac {
   display: none;
}
