[
    {
        "id": 0,
        "name": "Linear",
        "algorithm": "min_max",
        "weight_granularity": "per_channel",
        "inputs_scale": [
            127.50418090820312
        ],
        "outputs_scale": [
            94.48027038574219
        ],
        "inputs_uint8_used": [
            false
        ],
        "outputs_uint8_used": [
            false
        ],
        "quantized": true
    }
]